.KompleteSlideshow {
    display: flex;                                      /*Wo die Box sitzt*/
    justify-content: center;                            /*Wo die Box sitzt*/
    align-items: center;                                /*Wo die Box sitzt*/
    height: 60vh;                                       /* Die Größe um die Box der Bilder die Box selbst muss mit einberechnet werden z.B. Die Box ist 50vh und die height nur 10 dann würde sich der Text hinter Die Box Schieben*/
    margin: 0;
}


.slideshow {
    background-color: black;
    width: 50vw;                                        /*width und height sind die größe der Slideshow*/
    height: 50vh;
    box-shadow: 0px 0px 10px #808080;
    position: relative;
}

.slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    overflow: hidden;
    opacity: 0;
    transition: opacity 2s;
}

.slide-bild {
    width: 100%;
}

.slide-textbereich {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-align: center;
    font-family: sans-serif;
    padding: 0 15% 0 15%;

}

.slide-ueberschrift {
    font-size: 2em;
    margin: 10px 0;
}

.slide-beschreibung {
    font-size: 1.2em;
    margin: 0;
}

.pfeil {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    color: rgba(255, 255, 255, 0.5);
    user-select: none;
    cursor: pointer;
}

.pfeil:hover {
    color: #000000;
}

.pfeil-links {
    left: 0;
}

.pfeil-rechts {
    right: 0;
}

.indikatorenliste {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.indikator {
    padding: 0 10px;
    user-select: none;
    cursor: pointer;
    opacity: 0.5;                    /*deckkraft eines Ellements*/
    transition: opacity 2s;
}

.aktiv {
    opacity: 1;
}